.index-dashboard-component {
  background-image: url('../../assets/mainBG/1.jpg');
  background-color: #2d2d2d;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 700px auto;
}
